#back {
  position: fixed;
  text-align: center;
  background-color: #F7AA97;
  bottom: 0;
  width: 100%;
}

#page{
  background: #fff;
  text-align: center;
}

.columns {
  margin: auto;
}
